<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css" integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS" crossorigin="anonymous">

    <title>INFORME IMPUTA</title>
  </head>
  <body>
      <!--Header-->
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
        <a class="navbar-brand" href="/"><h3>DAT<font color=" #5dade2">IO</font></h3></a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
      
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <ul class="navbar-nav mr-auto">
            <li class="nav-item active">
              <a class="nav-link" href="/">Home <span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item active">
                    <a class="nav-link" href="/empleado/">Empleados <span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item active">
                    <a class="nav-link" href="/proyecto/">Proyectos <span class="sr-only">(current)</span></a>
            </li>
           
            <li class="nav-item dropdown">
              <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Reporte
              </a>
              <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                <a class="dropdown-item" href="/reporte_general/">General</a>
                <a class="dropdown-item" href="#">Proyecto</a>   
            </li>
          </ul>
        </div>
        <a class="navbar-brand" href="#">La VP que sí funciona...</a>
      </nav>
      <!--HEADER-->
      <br>
      <br>
      <div class="container">
        <h1>Proyectos</h1>
        <table class="table">
              <thead class="thead-dark">
                <tr>
                  <th scope="col">Nombre</th>
                  <th scope="col">Apellido Materno</th>
                  <th scope="col">Apellido Paterno</th>
                  <th scope="col">Codigo de Proyecto</th>
                  <th scope="col">Nombre de Proyecto</th>
                  <th scope="col">FTES</th>
                  <th scope="col">Horas laborales</th>
                  <th scope="col">Horas de vacaciones</th>
                  <th scope="col">Horas de enfermedad</th>
                  <th scope="col">Horas especiales</th>
                  <th scope="col">Observaciones</th>
              </thead>
              <tbody>
                <tr>
                  <td>Otto</td>
                  <td>@mdo</td>
                  <td>Perez</td>
                  <td>Perez</td>
                  <td>Perez</td>
                  <td>Perez</td>
                  <td><input class="form-control form-control-sm" type="text" placeholder="0" id="horasL"></td>
                  <td><input class="form-control form-control-sm" type="text" placeholder="0" id="horasV"></td>
                  <td><input class="form-control form-control-sm" type="text" placeholder="0" id="horasEn"></td>
                  <td><input class="form-control form-control-sm" type="text" placeholder="0" id="horasEs"></td>
                  <td><input class="form-control form-control-sm" type="text" placeholder="0" id="Obs"></td>

                </tr>
                <tr>
                    <td>Otto</td>
                    <td>@mdo</td>
                    <td>Perez</td>
                    <td>Perez</td>
                    <td>Perez</td>
                    <td>Perez</td>
                    <td><input class="form-control form-control-sm" type="text" placeholder="0" id="horasL"></td>
                    <td><input class="form-control form-control-sm" type="text" placeholder="0" id="horasV"></td>
                    <td><input class="form-control form-control-sm" type="text" placeholder="0" id="horasEn"></td>
                    <td><input class="form-control form-control-sm" type="text" placeholder="0" id="horasEs"></td>
                    <td><input class="form-control form-control-sm" type="text" placeholder="Observaciones" id="Obs"></td>

                </tr>
              </tbody>
            </table>
            <div class="btn-group" role="group" aria-label="Basic example">
                  <button type="button" class="btn btn-primary">Guardar</button>
           </div>
            

            
      </div>

    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.6/umd/popper.min.js" integrity="sha384-wHAiFfRlMFy6i5SRaxvfOCifBUQy1xHdJ/yoi7FRNXMRBu5WHdZYu1hA6ZOblgut" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/js/bootstrap.min.js" integrity="sha384-B0UglyR+jN6CkvvICOB2joaf5I4l3gm9GU6Hc1og6Ls7i6U/mkkaduKaBhlAXv9k" crossorigin="anonymous"></script>
  </body>
</html>
